<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Admin DashBoar</legend>
        <ul>
            <li><a href="">Register</a></li>
            <li><a href="">Update</a></li>
            <li><a href="">Delete</a></li>
        </ul>
            <p>Search</p><input type="text" name="search" placeholder="Search employee"><input type="Submit" value="Search"><br>
            <a href="/logout">Logout</a>
    </fieldset>
</body>
</html>