<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Employee Dashboard</legend>
        <ul>
            <li><a href="/employee/addproduct">Add Product</a></li>
            <li><a href="/employee/productlist">Product List</a></li>
        </ul><br>
        <a href="/logout">Logout</a>
    </fieldset>
</body>
</html>