<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <fieldset>
        <legend>Add Product</legend>
        <form action="" method="POST">
            <p>Product Name</p>
            <input type="text" placeholder="Enter product Name" name="name" required>
            <p>Product Quantity</p>
            <input type="text" placeholder="Enter product Quantity" name="quantity" required>
            <p>Product Price</p>
            <input type="text" placeholder="Enter product price" name="price" required><br>
            <input type="submit" value="ADD">
        </form>
    </fieldset>
</body>
</html>