<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee</title>
</head>
<body>
    <fieldset>
        <legend>Update Employee</legend>
        <form method="POST" name="myForm" onsubmit="return(validate());">
            <p>Username</p>
            <input style="height: 3%;" name="username" type="text" value="<%= list[0].username%>" readonly>
            <p>Password</p>
            <input style="height: 3%;" name="password" id="password" type="password" value="<%= list[0].password%>">
            <p>Name</p>
            <input style="height: 3%;" name="name" type="text" value="<%= list[0].name%>">
            <p>Phone</p>
            <input style="height: 3%;" name="phone" type="text" value="<%= list[0].phone%>">
        
            <input style="height: 3%;" type="Submit"><br><br><br>
        </form>
        <a href="/logout">Logout</a>
    </fieldset>
    <script>
        function validate(){
            var x=document.myForm.password;
            var y=document.myForm.name;
            var z=document.myForm.phone;

            var msg = document.getElementById('err');
            var color='#ff6666';

            if(x.value=="")
            {
                alert("Password Required");
                x.focus();
                return false;
            }
            else if(x.value!="")
            {
                if(!(x.value.length >= 8)){
                    message.style.color=color;
                    message.innerHTML="Password Length greater than or Equal 8!";
                    x.focus();
                    return false;
                }
            }
            
            if(y.value=="")
            {
                alert("Name Required");
                y.focus();
                return false;
            }
            
            if(z.value=="")
            {
                alert("Phone number Required");
                z.focus();
                return false;
            }

            return (true);

        }
    </script>
</body>
</html>